@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #78d685; /* A lighter green for text */
    --background-dark: #1e1e1e; /* Darker background color */
    --background-light: #292929; /* Slightly lighter background color */
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-dark);
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    color: var(--text-color);
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 20px;
}

h2 {
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    margin: 20px 0;
}

nav {
    left: 0;
    right: 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn {
    margin: 0 10px; /* Adjust the margin to control the spacing between buttons */
    display: inline-block; /* Ensure buttons are displayed in a row */
}

nav ul li {
    list-style: none;
    margin: 0 10px; /* Adjust the margin to control the spacing between links */
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff; /* Adjust the color as needed */
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    color: var(--text-color);
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wb-body {
    background: var(--background-light);
    padding: 20px;
    border-radius: 10px; /* Add a slight border-radius for a softer look */
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.hidden {
    display: none;
}

.cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }

    50% {
        color: var(--text-color);
    }
}

table,tr,th,td {
    border:1px solid black;
}

.timeline-item.active {
    display: block; /* Only display items that match the filter */
}

.timeline-section{
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
}

.timeline-date{
    font-size: 18px;
    color: #eaa023;
    margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
    color: #ffffff;
    margin:0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
}

.filter-btn {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* Animation speed */
}

.filter-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}
