@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #78d685;
    --background-dark: #1e1e1e;
    --background-light: #292929;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-dark);
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
}

h1, h2, h3, a, nav a {
    color: var(--text-color);
}

h1 {
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 20px 0;
}

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn, nav ul li {
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

nav a {
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.winbox-content img {
    max-width: 100%;
}

.container {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wb-body {
    background: var(--background-light);
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.hidden {
    display: none;
}

.cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    0%, 100% {
        color: transparent;
    }
    50% {
        color: var(--text-color);
    }
}

table, tr, th, td {
    border: 1px solid black;
}

.timeline-section {
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline-item {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 20px;
    width: 20px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date, .timeline-content h3 {
    color: #eaa023;
}

.timeline-content {
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    line-height: 22px;
}

.filter-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.filter-btn:hover {
    background-color: #45a049;
}

.showcase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 960px;
    margin: auto;
}

.showcase-box {
    background-color: #2f363e;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}

.showcase-box:hover {
    transform: translateY(-5px);
}

.showcase-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.showcase-box h4, .showcase-box p {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

/* Responsive Design */
@media(max-width: 768px) {
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd), .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .showcase-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .winbox-content h1 {
        font-size: 34px;
    }

    .winbox-content p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .showcase-grid {
        grid-template-columns: 1fr;
    }
}